In [1]:
d={}

In [2]:
type(d)

dict

In [3]:
#key under as a word, and value as a meaning, key can take any name as word name,
d1={'key' : "sudh"}

In [4]:
d1

{'key': 'sudh'}

In [5]:
d2={'name': "sudhanshu", "email": "ss@gmail.com", "number" : 334534 }

In [6]:
d2

{'name': 'sudhanshu', 'email': 'ss@gmail.com', 'number': 334534}

In [8]:
d3={234:"sudh", @wer:"kumar" }

SyntaxError: invalid syntax (2120526264.py, line 1)

In [9]:
d3={234:"sudh", _wer:"kumar" }

NameError: name '_wer' is not defined

In [11]:
d3={234:"sudh", '_wer':"kumar" }

In [12]:
d3

{234: 'sudh', '_wer': 'kumar'}

In [13]:
d3={234:"sudh", '_wer':"kumar" , True:24234}

In [14]:
d3

{234: 'sudh', '_wer': 'kumar', True: 24234}

In [15]:
d3[234]

'sudh'

In [16]:
d3[True]

24234

In [17]:
d3[1]

24234

In [18]:
d4={'name':"sudh", 'mail_id':"ss@gmail.com" , "name":"sudhanshu"}

In [19]:
d4['name']

'sudhanshu'

In [20]:
d5={"company":"pwskills", "course":["web dev", "data science", "java with dsa system design"]}

In [21]:
d5

{'company': 'pwskills',
 'course': ['web dev', 'data science', 'java with dsa system design']}

In [22]:
d5['course']

['web dev', 'data science', 'java with dsa system design']

In [23]:
d5['course'][2]

'java with dsa system design'

In [24]:
d6={"number":[2,34,3,34,34], "assignment" : (1,2,3,4,5,6), "launch_date":{28,12,14}}

In [25]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28}}

In [26]:
#dict=key:list,key:tuple, key:set, key:dict.{key:value, key:value, key:value}
d6={"number":[2,34,3,34,34], "assignment" : (1,2,3,4,5,6), "launch_date":{28,12,14}, "class_time":{"web_dev" : 8 , "Data science masters" : 8, "java with dsa and system design":7}}

In [27]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7}}

In [28]:
d6['class_time']

{'web_dev': 8, 'Data science masters': 8, 'java with dsa and system design': 7}

In [29]:
d6['class_time']['java with dsa and system design']

7

In [30]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7}}

In [31]:
d6['mentor']=["sudhanshu","krish","anurag", "hayder"]

In [32]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

In [33]:
del d6['number']

In [34]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

In [35]:
#to see how many number of keys are listed here,
d6.keys()

dict_keys(['assignment', 'launch_date', 'class_time', 'mentor'])

In [36]:
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [37]:
#to find, there are only values from dict.
d6.values()

dict_values([(1, 2, 3, 4, 5, 6), {28, 12, 14}, {'web_dev': 8, 'Data science masters': 8, 'java with dsa and system design': 7}, ['sudhanshu', 'krish', 'anurag', 'hayder']])

In [38]:
list(d6.values())

[(1, 2, 3, 4, 5, 6),
 {12, 14, 28},
 {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 ['sudhanshu', 'krish', 'anurag', 'hayder']]

In [39]:
d6.items()

dict_items([('assignment', (1, 2, 3, 4, 5, 6)), ('launch_date', {28, 12, 14}), ('class_time', {'web_dev': 8, 'Data science masters': 8, 'java with dsa and system design': 7}), ('mentor', ['sudhanshu', 'krish', 'anurag', 'hayder'])])

In [40]:
#key and value both chahiye, type casting means usako list,str, tuple etc. me convert karna
list(d6.items())

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web_dev': 8,
   'Data science masters': 8,
   'java with dsa and system design': 7}),
 ('mentor', ['sudhanshu', 'krish', 'anurag', 'hayder'])]

In [41]:
d6.pop('assignment')

(1, 2, 3, 4, 5, 6)

In [42]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

In [43]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

In [44]:
# = is assign operator, == marks comparing function/comparison operator, python always follow "indentation".
# in other prog. languages we separates by curly brackets,but not {} concept in python of a code, 
if marks >=80 
    print("you will be a part of A0 batch")

SyntaxError: expected ':' (3680773591.py, line 3)

In [45]:
if marks >=80 :
print("you will be a part of A0 batch")

IndentationError: expected an indented block after 'if' statement on line 1 (2173449055.py, line 2)

In [46]:
if marks >=80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

NameError: name 'marks' is not defined

In [47]:
marks = 65
if marks >=80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

you will be a part of A1 batch

In [48]:
marks = -786767
if marks >=80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

you will be a part of A3 batch

In [49]:
marks = 10
if marks >=80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

you will be a part of A3 batch

In [54]:
10>=80

False

In [116]:
#in below "and" case me both condition shoud be true, and in "or" case one condition shoud be true,
marks = input("enter your marks")
if marks >=80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

enter your marks 12

TypeError: '>=' not supported between instances of 'str' and 'int'

In [58]:
marks = input("enter your marks")

enter your marks 45

In [59]:
#problem is that here jo bhi answer hoga usako string me convert kar dega,
marks

'45'

In [60]:
type(marks)

str

In [61]:
#type casting means usako list,str, tuple etc. me convert karna, 
#here marks me input me typecasting karke usako->int,floating point function, me convert kar dega,
#here always get string in output,so we are doing tycasting,
#if, else function will work, here,
marks = int(input("enter your marks"))

enter your marks 10

In [62]:
marks

10

In [63]:
type(marks)

int

In [64]:
marks = float(input("enter your marks"))

enter your marks -90

In [65]:
marks

-90.0

In [66]:
type(marks)

float

In [67]:
marks = int(input("enter your marks"))
if marks >=80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

enter your marks -90

you will be a part of A3 batch

In [68]:
marks = int(input("enter your marks"))
if marks >=80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

enter your marks 50

you will be a part of A2 batch

In [69]:
#there is needed user input 'marks' for output,
marks = int(input("enter your marks"))
if marks >=80 :
    print("you will be a part of A0 batch")
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

enter your marks 9000

you will be a part of A0 batch

In [70]:
price = int(input("enter price" ))
if price > 1000:
    print("i will not purchase")
else :
    print("i will purchase")

enter price 45

i will purchase

In [71]:
price = int(input("enter price" ))
if price > 1000:
    print("i will not purchase")

enter price 1000

In [72]:
price = int(input("enter price" ))
if price > 1000:
    print("i will not purchase")

enter price 2000

i will not purchase

In [73]:
# : must for if and else condition function, code always in a sequential order execute hota hai,know about nestedcondition - ????
price = int(input("enter price" ))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("this is too much")

enter price 1500

i will not purchase

In [74]:
price = int(input("enter price" ))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("this is too much")
    elif price < 2000 :
        print("its ok")

enter price 455

In [75]:
#here you can written multiple statements of if and elif,else as manytimes, it means nested if and nested elif statements we can write
price = int(input("enter price" ))
if price > 1000:
    print("i will not purchase")
    if price > 5000:
        print("this is too much")
    elif price < 2000 :
        print("its ok")
elif price < 1000 :
    print("i will purchase")
    print("i will not purchase")
    if price > 5000:
        print("this is too much")
    elif price < 2000 :
        print("its ok")
else :
    print("not interested")
    print("i will not purchase")
    if price > 5000:
        print("this is too much")
    elif price < 2000 :
        print("its ok")

enter price 1500

i will not purchase
its ok

In [76]:
l=[1,2,3,3,4,5,6,7,8]

In [77]:
l[0]+1

2

In [78]:
l1=[]

In [79]:
l1.append(l[0]+1)

In [80]:
l1

[2]

In [81]:
l

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [82]:
# iterable means multiple variable, here i is a variable,which save the data,data keep inside i,
# for loop ends when iterable variable ends,iterable data finish then loop break,
for i in l:
    print(i)

1
2
3
3
4
5
6
7
8

In [83]:
for i in l:
    print(l)

[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [84]:
for i in l:
    print(i+1)

2
3
4
4
5
6
7
8
9

In [85]:
l1=[]
for i in l:
    print(i+1)

2
3
4
4
5
6
7
8
9

In [114]:
#its a for loop function, here we use blaklist declare to drop he data inside,
#type casting means data change karana in a different data form,
l1=[]
for i in l:
    print(i+1)
    l1.append(i+1)
l1

2
3
4
5
5

TypeError: can only concatenate str (not "int") to str

In [111]:
l

[1, 2, 3, 4, 4, 'sudh', 'kumar', 324, 34.456, 'abc']

In [88]:
l=["sudh", "kumar", "pwskills", "course"]

In [89]:
for i in l :
    print(i)

sudh
kumar
pwskills
course

In [90]:
l1=[]
for i in l :
    print(i)
    l1.append(i.upper())

sudh
kumar
pwskills
course

In [91]:
l1

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [92]:
l=[1,2,3,4,4,"sudh", "kumar", 324,34.456,"abc" ]

In [93]:
l1_num=[]
l2_str=[]
for i in l:
    if type(i)== int or type(i) == float :
        l1_num.append(i)
    else :
        l2_str.append(i)

In [94]:
l1_num

[1, 2, 3, 4, 4, 324, 34.456]

In [95]:
l2_str

['sudh', 'kumar', 'abc']

In [ ]:
l1_num=[]
l2_str=[]
for i in l:
    if type(i)== int 
    l1_num.append(i)

In [144]:
l1_num

[1, 2, 3, 4, 4, 324, 34.456]

class end here, (01:53:00)

In [118]:
#if , elif and else is a condition statement,

In [96]:
#go to github.com make account there,github is professional, as a professional must use,and mensioned in resume give your github link in resume,
#most of organizations are using this in the backend ,
#github is a repository, and repository as a folder,repository name as a folder name,

doubt sesion starts from here,(02:25:00)

In [97]:
#when we will use , which type of brackets,
[] - list 
() - tuple
{} - with flat element set,
{} - with key value pair dict.,

SyntaxError: invalid syntax (4003812374.py, line 4)

In [98]:
t=(True,4,5,6)

In [99]:
len(t)

4

In [100]:
t=(True,4,5,6,True)

In [101]:
len(t)

5

In [102]:
t.count(True)

2

In [103]:
t=(True,4,5,6)

In [104]:
len(t)

4

In [105]:
t.count(True)

1

In [117]:
#there is taking true count is 2 , bcoz 1st is from 1 and another is true also in list, 
*if , elif and else is a condition statement,
s2=(1,4,7.7, "class", True)

SyntaxError: invalid syntax (851617868.py, line 2)

In [107]:
s2.count(True)

2

vfnjkvm  m mf mfvmfbmfm m mm mi mov

dfndfjk
vvv
vm
vm
vm
vmvm
mv
vm
vm
dmvmv
vm
mv
mv
mv
v

In [120]:
marks = int(input("enter your marks"))
if marks >=80 :
    print("you will be a part of A0 batch")
    for i in l:
        print(it is ok)
elif marks >= 60 and marks < 80:
    print("you will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be a part of A2 batch")
else:
    print("you will be a part of A3 batch")

enter your marks 46

you will be a part of A2 batch

In [121]:
#in school always take only 100marks, can't enter more than 100marks,
marks = int(input("enter your marks"))

if marks  > 100:
    print("this is not a valid marks")
else:
    if marks >=80 :
        print("you will be a part of A0 batch")
    elif marks >= 60 and marks < 80:
        print("you will be a part of A1 batch")
    elif marks >= 40 and marks < 60:
        print("you will be a part of A2 batch")
    else:
        print("you will be a part of A3 batch")

enter your marks 12

you will be a part of A3 batch

In [122]:
#str is immutable object, you can not enter 1 on index n, so we can't change , so this is immutable,
s="munna"

In [123]:
s[0]=1

TypeError: 'str' object does not support item assignment

In [124]:
l=[1,2,3,45]

In [125]:
l[0]

1

In [127]:
#in list you can put value by indexing basis, so that called mutable objects,
l[0]=100

In [128]:
l

[100, 2, 3, 45]

In [129]:
l2=[]
for i in l:
    l2.append(i+1)
    print(i+1)
l2

101
3
4
46

[101, 3, 4, 46]

In [130]:
l2=[]
for i in l1:
    l2.append(i+1)
    print(i+1)
l2

3
4
5
6
6

[3, 4, 5, 6, 6]

In [131]:
l=["azzu", "khatri","pwskills", "course"]

In [132]:
l1=[]
for i in l:
    print(i)
    l1.append(i.upper())

azzu
khatri
pwskills
course

In [133]:
l1

['AZZU', 'KHATRI', 'PWSKILLS', 'COURSE']

In [134]:
s="akshat"

In [136]:
for ak in s:
    print(ak)

a
k
s
h
a
t

In [137]:
for ak in "akshat":
    print(ak)

a
k
s
h
a
t

In [138]:
dict1 = {'a': 'akshat', 'b': 'bhuvan', 'c': 'chandan'}
 
keys = []
values = []
for item in dict1.items():
    keys.append(item[0]), values.append(item[1])

print("keys : ", keys)
print("values : ", values)

keys :  ['a', 'b', 'c']
values :  ['akshat', 'bhuvan', 'chandan']

In [140]:
#DSA concept only used for logic buiding, if u good in dsa then write good code, logic build,
#DSA hv much algorithms,

In [141]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

In [143]:
d6.fromkeys([3,4,5,6])

{3: None, 4: None, 5: None, 6: None}

In [ ]:
#"switch" keys is not available in python, 
#in  python "match" case are available,